.nav-button {
  margin: 10px;
}

.list-booklist {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.list-title {
  text-align: center;
}

.list-book-item {
  border: 2px solid black;
  margin: 10px;
  border-radius: 10px;
}

label {
 display: block;
 margin: 10px;
}

button {
  margin: 10px;
}

